<div class="" style="padding:5px 15px; background:#ccc; color:#555"> <h2>Add New Item</h2></div>
<form  ng-submit="additem(idata)" enctype="multipart/form-data">
    <div class="" style="padding:10px; background:#555; color:#eee">
        <div><b>Select item Category</b></div>
        <span>
            <select required ng-options="option.c_id as option.c_name for option in categories" ng-model="idata.cat">
            </select>
        </span>
    </div>
    <div class="" style="padding:10px; background:#eee; color:#555">
      <div><b>Select Item Type</b></div>
        <div>
          <select required ng-options="option.value as option.name for option in itype"  ng-model="idata.itype">
          </select>
        </div>
    </div>
<div class="" style="padding:10px; background:#555; color:#eee">
    <div><b>Item Name</b></div>
    <div>
        <input type="textbox" name="item_title" ng-model="idata.itext" >
    </div>
</div>
<div class="" style="padding:10px; background:#eee; color:#555">
    <div><b>Item Description</b></div>
    <div>
        <textarea name="item_description"  ng-model="idata.desc"  cols="40" rows="5"></textarea>
    </div>
</div>
<div class="" style="padding:10px; background:#555; color:#eee">
    <div><b>Item Lowest Purchasable quantity</b></div>
    <div>
        <input type="textbox"  name="item_lquantity" ng-model="idata.lowest_quantity" />
    </div>
</div>
<div class="" style="padding:10px; background:#eee; color:#555">
    <div><b>Item Higiest Purchasable quantity</b></div>
    <div>
        <input type="textbox"  name="item_mquantity" ng-model="idata.max_quantity" />
    </div>
</div>
<div class="" style="padding:10px; background:#555; color:#eee">
    <div><b>Batch quantity</b></div>
    <div>
        <input type="textbox"  name="batch_quantity" ng-model="idata.batch_quantity" />
    </div>
</div>
<div class="" style="padding:10px; background:#eee; color:#555">
    <div><b>Item measuring_metric</b></div>
    <div>
         <select required ng-options="option.value as option.name for option in measure_metric"  ng-model="idata.measuring_metric"></select>
    </div>
</div>
<div class="" style="padding:10px; background:#555; color:#eee">
    <div><b>Item Rate in Naira</b></div>
    <div>
        <input type="textbox"  name="item_rate" ng-model="idata.Nrate" />
    </div>
</div>
<div class="" style="padding:10px; background:#eee; color:#555">
    <div><b>Item Discount</b></div>
    <div>
        <input type="textbox" name="item_discount" ng-model="idata.discount" />
    </div>
</div>
<div class="" style="padding:10px; background:#eee; color:#555">
    <div><b>Tags</b></div>
    <div>
        <select ng-options="option.value as option.name for option in itag" ng-change="addtag()" ng-model="taglist">
        </select>
    </div>
    <div>
        <textarea id="item_tagt" name="item_tag" cols="50" rows="8" ng-model="idata.itag" ></textarea>
    </div>
</div>
<div class="" style="padding:10px; background:#eee; color:#555">
    <div><b>Item Reward Point</b></div>
    <div>
        <input type="textbox" name="item_reward" ng-model="idata.reward" />
    </div>
</div>
<div class="" style="padding:10px; background:#eee; color:#555">
    <div><b>Upload Pictures</b></div>
    <div>
        <div><input type="file" name="pic1" id="pic1" size="30" file-model="images.pic1"  /></div>
        <div><input type="file" name="pic2" id="pic2" size="30" file-model="images.pic2" /></div>
        <div><input type="file" name="pic3" id="pic3" size="30" file-model="images.pic3" /></div>
        <div><input type="file" name="pic4" id="pic4" size="30" file-model="images.pic4" /></div>
        <div><input type="file" name="pic5" id="pic5" size="30" file-model="images.pic5" /></div>
        <div><input type="file" name="pic6" id="pic6" size="30" file-model="images.pic6" /></div>
    </div>

</div>
<div class="" style="padding:10px; background:#eee; color:#555">
    <div><b>Upload Icon</b></div>
    <div>
        <div><input type="file" name="icon" id="pic1" size="30" file-model="images.icon"  /></div>
    </div>

</div>
<div  style="padding:10px; " ><input type="submit" value="Add item" name="AddItem" /></div>
</form>
