<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet"  href="bower_components/ui-bootstrap/ui-bootstrap-custom-1.3.2-csp.css" />
        <link rel="stylesheet"  href="bower_components/bootstrap/css/bootstrap.min.css" />
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-touch/angular-touch.js"></script>
        <script src="bower_components/ui-bootstrap/ui-bootstrap-custom-1.3.2.min.js"></script>
        <script src="bower_components/ui-bootstrap/ui-bootstrap-custom-tpls-1.3.2.min.js"></script>
        <script src="bower_components/bootstrap/js/bootstrap.min.js"></script>

        <script src="transaction.js"></script>
        <style>
            @media print{
                .noprint {display:none !important}
                .dateNtime{width:17% !important}
                .reference{width:22% !important}
                .tablecaption{background:#333; }
                .logo img{display: inline !important;}
            }

            .printbutt{padding:5px 10px; background:#555; color:#eee; font-size: 12px; cursor: pointer;}
            .tablehead{float:right; padding:10px; background:#fefefe; width:auto; color:#555; height:20px;}
            .tablecaption{background:#555; clear:both; color:#eee; display:table; font-size:16px; min-height:10px; font-weight:bold; width:100%}
        </style>
        <style type="text/css" media="print">
            @page {
                size: auto;   /* auto is the initial value */
                margin: 0;  /* this affects the margin in the printer settings */
            }
        </style>
    </head>
    <body ng-app="transcation_log">
        <div  ng-controller="trans" class="mainp" style="border:1px solid #555; width:90%; position:relative; height:auto; margin:2% 5%; background:#eee">
        	<div class="tablehead noprint" >
                <span><b>Select Transaction Status </b></span>
                <span><select ng-options="option.value as option.name for option in actions"  ng-model="status_search">

                </select>
                </span>
                <span class="printbutt" ng-click="printdoc()">Print</span>
            </div>
           	<div id="tlog" style="float:right; font-size:24px;text-align: center;width: 60%;padding: 5px;">Transaction Log</div>
        	<div class="tablecaption">
                <div style="width:10%; border-right:1px solid #eee; padding:5px 10px; float:left">Trans ID</div>
                <div style="width:13%; border-right:1px solid #eee; padding:5px 10px; float:left">Customer Name</div>
                <div class="reference" style="width:10%; border-right:1px solid #eee; padding:5px 10px; float:left">Reference</div>
                <div style="width:7%;  border-right:1px solid #eee; padding:5px 10px; float:left">Total</div>
                <div class="noprint" style="width:7%;  border-right:1px solid #eee; padding:5px 10px; float:left">Location</div>
                <div class="dateNtime" style="width:12%; border-right:1px solid #eee; padding:5px 10px; float:left">Date & Time</div>
                <div style="width:13%; border-right:1px solid #eee; padding:5px 10px; float:left"> Current Status</div>
                <div class="statusupdate noprint" style="width:10%; padding:5px 10px; float:left">Update Status</div>

            </div>
            <div style="border-bottom:1px solid #555; position:relative; display:flex; height:auto; font-size:12px; color:#333" ng-repeat="entry in entries | filter:entryfilter | filter:statusTrans">
                <div style="width:10%; border-right:1px solid #555; padding:5px 10px; float:left">
                    <span ng-bind="entry.order[0].basket_id"></span>
                </div>
                <div style="float:left; width:13%; padding:5px 10px; border-right:1px solid #555;">
                    <div ng-bind="entry.name"></div>
                    <div ng-bind="entry.email"></div>
                    <div ng-bind="entry.phone"></div>
                    <div ng-bind="entry.billing"></div>
                </div>
                <div class="reference" style="float:left; width:10%; padding:5px 10px; border-right:1px solid #555; ">
                    <div class="" ng-repeat="order in entry.order">
                        <span>(<span ng-bind="order.quantity" style="font-weight:bold"></span>)<span ng-init="getitemname(entry, order)" ng-bind="order.item_name"></span>
                        <!-- <strong>@</strong> <span ng-bind="order.total_amount"></span> -->
                    </div>
                </div>
                <div style="float:left; width:7%; padding:5px 10px; border-right:1px solid #555; " ng-init="removecoupon(entry)" >&#8358;<span ng-bind="entry.total_amount | number:2"></span></div>
                <div class="noprint" style="float:left; width:7%; padding:5px 10px; border-right:1px solid #555; " ><span ng-bind="entry.area"></span></div>
                <div class="dateNtime" style="float:left; width:12%; padding:5px 10px; border-right:1px solid #555; " ng-bind="entry.order[0].date *1000 | date:'medium'"></div>
                <div style="float:left; width:13%; padding:5px 10px; border-right:1px solid #555;" ng-init="entry.ustatus=entry.status" ng-bind="entry.status"></div>
                <div class="statusupdate noprint" style="float:left; width:10%; padding:5px 10px;">
        			<select ng-options="option.value as option.name for option in actions"  ng-change="entry.updatestatus='changed'" ng-model="entry.ustatus"></select>
                    <div ng-switch="entry.updatestatus">
                        <div  ng-switch-when="changed">
                            <button  ng-click="updateStatus(entry)">Update</button>
                        </div>
                        <div ng-switch-when="status_update" ng-bind="entry.message"></div>
                    </div>
                </div>
                <div class="statusupdate noprint"  style="float:left; width:auto; padding:5px 10px;">
                    <a ng-click="view_details(entry, 'Invoice')" style="cursor:pointer">Print Invoice</a>
                    <a ng-click="view_details(entry, 'Delivery Note')" style="cursor:pointer">Print D.Note</a>
                </div>
            </div>
        </div>
    </body>
</html>
