<!--<div class="slider"></div>-->
<!--<div>Your Friends using this Poweroil</div>-->

<div class="po-acct-area">
   <div class="po-acct-header">
       <div class="po-acct-img-area"><img class="po-acct-img" src="../images/account-img.jpg"></div>
       <div class="po-acct-grtn-area">Hello, Power Dude</div>
   </div>
   
   <div class="po-acct-body">
        <div class="po-acct-menus">
            <ul>
                <li><a>Vouchers</a></li>
                <li><a>Transactions</a></li>
            </ul>
        </div>

        <div class="po-acct-content">
           <div class="po-acct-trans">
                <ul class="po-trans-name">
                    <li class="po-list-header">Tansaction</li>
                    <li class="po-list-header">Date</li>
                    <li class="po-list-header">Amount</li>
                    <li class="po-list-header">Ref</li>
                </ul>
            </div>
        </div>
   </div>
</div>
