
<div class="po-checkout-form-container">
    <form ng-submit="paynow()" class="po-billing-address">
           <label>Contact Details</label>
            <span class="po-form-element">
                <span class="po-label">Full Name</span>
                <input type="text" placeholder="Jason Omalu" ng-model="user.name" required="">
            </span>

            <span class="po-form-element">
                <span class="po-label">Email Address</span>
                <input type="text" placeholder="jason_omalu@gmail.com" ng-model="user.email" required="" >
            </span>

            <span class="po-form-element">
                <span class="po-label">Phone Number</span>
                <input type="text" placeholder="0812347857" ng-model="user.phone" required="" >
            </span>

            <label>Delivery Address</label>
            <span class="po-form-element">
               <span class="po-label">Apartment no</span>
                <input class="" type="text" placeholder="Flat 12, Block 34" ng-model="user.flatnum" required="" />
            </span>
            <span class="po-form-element">
               <span class="po-label">Street name</span>
                <input class="" type="text" placeholder="Raymond Street"  ng-model="user.street" required="" />
            </span>
            <span class="po-form-element">
               <span class="po-label">Nearest bus stop</span>
                <input class="" type="text" placeholder="Off Alao Bus Stop"  ng-model="user.bustop" required=""/>
            </span>
            <span class="po-form-element">
               <span class="po-label">Area Name</span>
                <input class="" type="text" placeholder="Surulere" ng-model="user.area" required="" />
            </span>

            <Label class="po-default-loc" >Lagos | Nigeria</label>
            <input type="submit" ng-show="false" id="validSUb" />
    </form>

    <div class="po-coupon-area">
            <p>You have <span class="no_of_coupon" ng-bind="totalcoupon"></span> Coupons</p>
            <!-- <a class="po-small-link" ng-click="fetchcoupon()">View Coupons</a> -->
            <span class="po-coupon" ng-show="viewcoupons" ng-repeat="coupon in coupons">
                <span class="po-coupon-money">&#8358;<span ng-bind="coupon.coupon_amount"></span>
                <span ng-bind="coupon.generated_trans"></span> </span>
                <a class="" href="" ng-hide="coupon.applied" ng-click="applyCouponToTrans(coupon)">Apply</a>
                <a href="" ng-show="coupon.applied" ng-click="removeCouponFromTrans(coupon, $index)">Remove from Transaction</a>
            </span>
    </div>

    <div class="po-table">
        <div class="po-table-header">
            <h4>Total Bill</h4>
        </div>

        <div class="po-heading-row">
            <span class="po-th"><b>Item</b></span>
            <span class="po-th po-has-number"><b>Quantity</b></span>
            <span class="po-th po-has-number"><b>Rate( &#8358;)</b></span>
            <span class="po-th po-has-number"><b>Discount</b></span>
            <span class="po-th po-has-number"><b>Total ( &#8358;)</b></span>
        </div>

        <div class="po-body-row" ng-repeat="bill in user.cart">
            <span class="po-td">
                <span  ng-bind="bill.item_name"></span>
                <a class="po-remove" ng-click="itemtocart(bill, 'remove', $index)">x</a>
            </span>
            <span class="po-td po-has-number" ng-bind="bill.quantity">Quantity</span>
            <span class="po-td po-has-number" ng-bind="bill.item_rate | number:2">Rate</span>
            <span class="po-td po-has-number" ng-bind="bill.item_discount">Discount</span>
            <span class="po-td po-has-number" ng-bind="bill.quantity * bill.item_rate | number:2">Total</span>
        </div>
    </div>
    <div class="" ng-show="user.coupons.length >0">
        <h3>Discount from Coupons</h3>
        <div class="" ng-repeat="coupon in user.coupons">
            <div>Coupon Amount: &#8358;<span ng-bind="coupon.coupon_amount"></span> <a class="po-remove" ng-click="removeCouponFromTrans(coupon, $index)">x</a></div>
        </div>
    </div>
    <div class="po-table">
         <div class="po-footer-row">
            <div class="po-td">
                Your transaction reference: <span class="po-coupon-code" ng-bind="user.basketId"></span>
            </div>
            <span class="po-td po-has-number">
                <h5>Grand Total:<br>
                   <sup class="po-superscript">&#8358;</sup>
                   <span class="po-money" ng-bind="user.cartTotal | number:2"></span>
                </h5>
            </span>
         </div>
         <div class="po-tr">
            <div class="po-td" ng-show="error" ng-bind="errorM"></div>

            <div class="po-td" ng-repeat="bill in coupon">
                <span>coupon Number</span>
                <span>Coupon Rate</span>
            </div>
        </div>
    </div>
    <div ng-switch="paystatus">
        <div  ng-switch-default ><a class="po-pay-btn" href="" ng-click="triggerpay()">Pay On Delivery</a></div>
        <div ng-switch-when="waiting" ng-bind="message"></div>
        <div ng-switch-wen="confirmed" ng-bind="message"></div>
    </div>
</div>
