<!--<div class="slider"></div>-->
<!--<div>Your Friends using this Poweroil</div>-->

<div class="po-product-area">
    <ul class="po-product-cat" ng-repeat="allitems in allitemcategories">
        <li class="po-product" ng-repeat="item in allitems.items">
            <div class="" ng-switch="item.view_type">

                <div class="po-product-desc" ng-switch-default>
                    <img class="po-product-img" ng-src="Admin/itemimages/{{item.item_profile_img}}"/>

                    <div class="po-product-type" ng-bind="item.item_name"></div>

                    <div class="po-product-details">
                        <div class="po-product-price-container">
                            <p><span class="po-superscript"> &#8358;</span>
                                <span class="po-product-price" ng-bind="item.item_rate | number"></span>
                            </p>
                        </div>
                    </div>
                    <div class="po-add-qty-area">
                        <div type="button" class="po-sub-qty" ng-click="quantity_adjustment(item, 'sub')"></div>
                        <div class="po-add-qty" ng-click="quantity_adjustment(item, 'add')"></div>
                    </div>

<!--
                    <span ng-bind="item.item_quantity"></span>
                    <span ng-bind=" item.item_measuring_metric"></span>
-->

<!--                    <a href="" ng-click="changeview(item, 'itemdetails')" >More Details</a>-->
                </div>
                <div ng-switch-when='itemdetails' class="po-product-desc">
                    <img class="po-product-img" ng-src="Admin/itemimages/{{item.item_profile_img}}" width="600px"/>
                    <div ng-bind="item.item_name">Title</div>
                    <div ng-bind="item.item_rate">Rate</div>
                    <div class="po-add-qty-area">
                        <span class="po-sub-qty" ng-click="quantity_adjustment(item, 'sub')"></span>
                        <span class="po-add-qty" ng-click="quantity_adjustment(item, 'add')"></span>
                    </div>
<!--                    <a href="" ng-click="changeview(item, '')" >Less Details</a>-->
                </div>
                <div class="po-confirm-qty">

                    <button class="po-confirm-btn" type="button" ng-show="item.quantity==0" ng-click="itemtocart(item, 'add', $index)">
                    <span class="po-product-qty" ng-bind="item.item_quantity"></span>
                    Confirm
                    </button>
                    <button class="po-confirm-btn" type="button" ng-show="item.quantity>0" ng-click="itemtocart(item, 'remove', $index)">
                    <span class="po-product-qty" ng-bind="item.item_quantity"></span>
                    Clear
                    </button>
                </div>
            </div>
        </li>
    </ul>
</div>

<div class="po-checkout-footer">
    <div class="po-cart-area">
        <div class="cart_view">
            <p><span class="totalincart" ng-bind="user.cart.length"></span> Items in your Cart</p>
            <p><a href="" ng-show="user.cart.length > 0 && !cartview" ng-click="cartview=!cartview">View Cart</a>
            <a href="" ng-show="user.cart.length > 0 && cartview" ng-click="cartview=!cartview">Hide Cart</a></p>
        </div>
        <div ng-show="cartview" class="cart_details">
            <div ng-repeat="item in user.cart">
                <span ng-bind="item.item_quantity"></span>
                <span ng-bind=" item.item_measuring_metric"></span>
                <span> of </span>
                <span ng-bind="item.item_name"></span>
                <a href="" ng-click="itemtocart(item, 'remove', $index)"> Remove</a>
            </div>
        </div>
    </div>
    <div class="po-cost-area">
       <p>Total Amount Due:</p>
        <p><sup class="po-superscript">&#8358;</sup><span class="po-money" ng-bind="user.cartTotal | number:2"></span></p>
    </div>
    <div class="po-checkout-btn-area"><a class="po-checkout-btn" href='' ng-click="checkout()">Check out</a></div>
    <div class="po-show-error" ng-show="errorCheck" ng-bind="ecm"></div>
</div>
