<div class="po-checkout-form-container">
    <div class="navback">
        <a href="#/">
            <div class="navicon" >
                <img src="images/back.png" width="20" height="20"/>
            </div>
            <div class="navtitle">Go back</div>
        </a>
    </div>
    <div><h3>TERMS AND CONDITIONS</h3></div>
    <div class="termHs">
            ACCESSING, BROWSING OR OTHERWISE USING THE SITE INDICATES YOUR AGREEMENT TO ALL THE TERMS AND CONDITIONS IN THIS AGREEMENT, PLEASE READ THIS AGREEMENT CAREFULLY BEFORE PROCEEDING
    </div>

    <div class="termB">
        <div class="termH">Customer Service</div>
        <p>
        For the purpose of these terms of use, wherever the context so require ‘You’ shall mean any natural or legal person who has agreed to register and use the Power Oil Online Marketplace Module (hereinafter referred to as "Power Oil Marketplace”) site by providing Registration Data while registering on the site as a Registered User.
        If you transact on Power Oil Marketplace, you will be subject to the policies, terms and conditions that are applicable to the site for such transaction. By registering on the site you will be contracting with Power Oil Marketplace and will be deemed to have agreed to the Terms of Use which is l considered as part l of this Terms and Condition.
        Power Oil Marketplace reserves the right, at its sole discretion, to change, modify, add or remove portions of these Terms of Use herein stated, at any time. It is your responsibility to check these Terms of Use periodically for any changes therein. Your continued use of The Marketplace following the posting of changes will mean that you accept and agree to the changes. As long as you comply with these Terms of Use, The Marketplace grants you a personal, non-exclusive, non-transferable, limited privilege to enter and use the Site.
        </p>
        <div class="termH">User Eligibility</div>
        <p>
        Use of the Power Oil Marketplace is available only to persons who has capacity to enter into a legally binding contracts under Nigerian laws. If you are a minor i.e. under the age of 18 years, you are not allowed or use Power Oil Marketplace site. As a minor, if you wish to use or transact on Power Oil Marketplace, such use or transaction may be made by your legal guardian or parents who have registered as users of The Marketplace. The Marketplace reserves the right to terminate your transaction and refuse to provide you with your purchase or access to Power Oil Marketplace site if it is brought to Power Oil Marketplace’s notice or if it is discovered that you are under the age of 18 years.
        By agreeing to Power Oil Marketplace’s terms and conditions, you confirm that you are at least 18 years of age or are accessing the site under the supervision of a parent or legal guardian.
        </p>
        <div class="termH">Account and Registration Obligations</div>
        <p>
        If you use The Marketplace, you shall be responsible for maintaining the confidentiality of your information and transaction. You shall be responsible for all activities that occur under your Name and transaction. You agree that if you provide any information that is untrue, inaccurate, not current or incomplete that Power oil Marketplace has reasonable grounds to suspect that such information is untrue, inaccurate, not current or incomplete, or not in accordance with the this Terms of Use. The Marketplace has the right to indefinitely suspend, terminate or refuse to provide you with access to the site.
        </p>
        <div class="termH">Communications</div>
        <p>
        When you use Power Oil Marketplace or send emails or other data, information or communication to Power Oil Marketplace, You agree and understand that you are communicating with Power Oil Marketplace through electronic records and you consent to receive communications via electronic records from Power Oil Marketplace periodically as and when required. Power Oil Marketplace may communicate with you by email or by such other mode of communication, electronic or otherwise.

        Power Oil Marketplace reserves the right, at its sole discretion, to restrict, suspend or terminate your access to all or any part of the sites or platforms at any time for any reason without prior notice or liability. Power Oil Marketplace may change, suspend or discontinue all or any aspect of the Advertising Services at any time, including the availability of any Advertising Service feature, database, or content, without prior notice or liability.
        </p>
        <div class="termH">Charges</div>
        <p>
        Logging in to Power Oil Marketplace is free. Power Oil Marketplace does not charge any fee for browsing and buying on Power Oil Marketplace. However Power Oil Marketplace reserves the right to charge fee and change its policies from time to time. In particular, Power Oil Marketplace may at its sole discretion introduce new services and modify some or all of the existing services offered on Power Oil Marketplace. In such an event Power Oil Marketplace reserves, without notice to you, the right to introduce fees for the new services offered or amend/introduce fees for existing services, as the case may be. Changes to the Fee and related policies shall automatically become effective immediately once implemented on Power Oil Marketplace. Unless otherwise stated, all fees shall be quoted in Nigerian Naira. You shall be solely responsible for compliance of all applicable laws including those in Nigeria for making payments to Power Oil Marketplace.
        </p>

        <div class="termH">Payments</div>
        <p>
        You agree to pay all applicable fees and charges incurred by you or any third party using your Facebook account (whether or not authorized by you) at the applicable billing rate during the period in which such fees and charges were incurred, including, but not limited to applicable taxes, and charges for any products or services offered for sale through the Power Oil Marketplace.

        Except where otherwise specifically stipulated within these Terms, you will be responsible for all charges associated with accessing and maintaining a connection to Power Oil Marketplace’s Services and Services in general (for example, charges imposed by an internet access provider, or your local telephone company).

        Rewards on Power Oil Marketplace are not transferable to cash and can only be used within the Power Oil Marketplace module.

        Rewards on Power Oil Marketplace are not transferable to other users and should be used only by you.

        You agree to notify Power Oil by email to HYPERLINK "mailto:poweroil.omp@tolaram.com"poweroil.omp@tolaram.com as soon as you become aware of any unauthorized use of your login name or any other breach of security in connection with Power Oil Marketplace or services in general.

        While availing any of the payment method offered at Power Oil Marketplace, Power Oil OR Power Oil Marketplace will not be responsible or assume any liability, whatsoever in respect of any loss or damage arising directly or indirectly to you due to:

        Lack of authorization for any transaction/s, or

        Exceeding the pre-set limit mutually agreed by you and between your "Bank/s", or

        Any payment issues arising out of the transaction, or

        All payments made against the purchases/services on Power Oil Marketplace by you shall be compulsorily in Nigerian Naira acceptable by the Central Bank of Nigeria Power Oil does not accept any other form of currency with respect to the purchases made on Power Oil Marketplace.
        </p>

        <div class="termH">Breach</div>
        <p>
        Without limiting other remedies, Power Oil Marketplace may limit your activity, immediately remove your information, warn other Users of your actions, immediately temporarily/indefinitely suspend or terminate or block you, and/or refuse to provide you with access to Power Oil Marketplace in the event, but not limited to:

        If you breach the Terms of Use or Privacy Policy or other rules and policies, if any;

        If Power Oil Marketplace is unable to verify or authenticate any information you provide; or
        If it is believed that your actions may cause legal liability for you, other Users or Power Oil Marketplace. Power Oil Marketplace may at any time at its sole discretion reinstate suspended users.


        A User that has been suspended or blocked may not register or attempt to register with Power Oil Marketplace or use Power Oil Marketplace site in any manner whatsoever until such time that such User is reinstated by Power Oil Marketplace. Notwithstanding the foregoing, if you breach the Terms and Conditions or Privacy Policy or other rules and policies, Power Oil Marketplace reserves the right to recover any amounts due and owing by you to Power Oil Marketplace and to take strict legal action including but not limited to a referral to the appropriate police or other authorities for initiating criminal or other proceedings against you.
        </p>
        <div class="termH">Indemnity</div>
        <p>
        You agree to indemnify and hold harmless Power Oil Marketplace its owner, officers, licensee, affiliates, directors and employees,  group companies (as applicable) and their respective officers, directors, agents, and employees, from any claim or demand, loss, cost, expense, or actions including without limitation, reasonable attorneys' fees, incurred in connection with any suit or proceeding brought against us arising out of your use of the Services or alleging facts or circumstances that could constitute a breach of any provision of these Terms and Conditions, Privacy Policy and other Policies by you or any third party transaction for you. If you are obligated to indemnify us, Power Oil Marketplace will have the right, in its sole and unfettered discretion, to control any action or proceeding and determine whether Power Oil Marketplace wish to settle it, and if so, on what terms.
        </p>
        <div class="termH">Cancellation & Refund Policy</div>
        <p>
        Any notification of a request for a refund must be done at the point of delivery and immediately followed by a written request addressed to HYPERLINK "mailto:poweroil.omp@tolaram.com"poweroil.omp@tolaram.com in writing or by email. Any request after delivery will not be honoured.

        Once a refund is approved, it will be processed within 15 working days.

        Any notification of intent to cancel must be done 12 hours prior to delivery, from time of invoice. A follow up can be provided in writing or by email to HYPERLINK "mailto:poweroil.omp@tolaram.com"poweroil.omp@tolaram.com. Any request to cancel after delivery will not be honoured and Power Oil Marketplace reserves the right, at its sole discretion, to restrict, suspend or terminate your access to all or any part of the sites or platforms; ie: Rerouting of delivery address or customer not available.
        </p>
        <div class="termH">Limits on Liability</div>
        <p>
        You agree that Power Oil Marketplace will not be liable for any direct, indirect, incidental, special, consequential or exemplary damages (even if Power Oil Marketplace has been advised of the possibility of such damages), arising from, relating to or connected with;
        the use or inability to use our Services.
        the cost of replacement of any goods, services or information purchased or obtained as a result of any information obtained from or transactions entered into through or from our Services.
        disclosure of, unauthorized access to or alteration of your content.
        statements, conduct or omissions of any information required from you or other third party on our behalf
        any other matter arising from, relating to or connected with our Service or these Terms.


        Power Oil Marketplace will not be liable for any failure or delay in performing under these Terms where such failure or delay is due to causes beyond
        reasonable control, including natural catastrophes, governmental acts or omissions, laws or regulations, terrorism, labour strikes or difficulties, communications systems breakdowns, hardware or software failures, transportation stoppages or slowdowns or the inability to procure supplies or materials.
        Power Oil Marketplace aggregate liability to you or any third party in any matter arising from, relating to or connected with its Services is at the Company's sole discretion.
        </p>
        <div class="termH">Jurisdictional Issues/Sale in Nigeria Only</div>
        <p>
            Unless otherwise specified, the items on Power Oil Marketplace is presented solely for the purpose of sale in Lagos, Nigeria. Power Oil Marketplace Makes no representation that materials in Power Oil Marketplace are appropriate or available for use in other locations/Countries other than Lagos, Nigeria. Those who choose to access this site from other locations/Countries other than Lagos, Nigeria do so on their own initiative and Power Oil Marketplace is not responsible for the supply of goods or refund of any kind resulting from goods ordered from other locations/Countries other than Lagos, Nigeria, compliance with local laws.
        </p>
    </div>

</div>
